<div id="employeeDialog">
    <mat-card class="scrollable-content">
        <mat-card-header>
            <mat-card-title>{{popupTitle}}</mat-card-title>
        </mat-card-header>

        <mat-card-content id="customerform">

            <mat-form  [formGroup]="form" >

                <mat-form-field appearance="outline">
                    <mat-label>Number</mat-label>
                    <input matInput formControlName="number">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="fullname">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Calling Name</mat-label>
                    <input matInput formControlName="callingname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option [value]="null" selected>Not Selected</mat-option>
                        <mat-option *ngFor="let gender of genders" [value]="gender">{{gender.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>NIC</mat-label>
                    <input matInput formControlName="nic">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="dob" formControlName="dobirth">
                    <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                </mat-form-field>

                <div id="imgpanel">
                    <img [src]="imageempurl">
                    <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="photo">
                    <label for="userImage" id="selectbutton">Select</label>
                    <label id="clearbutton" (click)="clearImage()">Clear</label>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Land</mat-label>
                    <input matInput formControlName="land">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="designation">
                        <mat-option [value]="null" selected>Not Selected</mat-option>
                        <mat-option *ngFor="let designation of designations" [value]="designation">{{designation.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Assignment Date</mat-label>
                    <input matInput [matDatepicker]="assdate" formControlName="doassignment">
                    <mat-datepicker-toggle matIconSuffix [for]="assdate"></mat-datepicker-toggle>
                    <mat-datepicker #assdate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Employee Type</mat-label>
                    <mat-select formControlName="emptype">
                        <mat-option [value]="null" selected>Not Selected</mat-option>
                        <mat-option *ngFor="let employeetype of employeetypes" [value]="employeetype">{{employeetype.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Employee Status</mat-label>
                    <mat-select formControlName="empstatus">
                        <mat-option [value]="null" selected>Not Selected</mat-option>
                        <mat-option *ngFor="let employeestatus of employeestatuses" [value]="employeestatus">{{employeestatus.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div id="butpanel">
                    <button mat-raised-button (click)="add()" [disabled]="false">Add</button>
                    <button mat-raised-button (click)="clear()">Clear</button>
                    <button mat-raised-button (click)="update()" [disabled]="false">Update</button>
                </div>

            </mat-form>
        </mat-card-content>

    </mat-card>
</div>
