mat-card {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border: #003300;
  box-shadow: black 2px 2px 15px;
}

mat-grid-tile form {
  padding: 10%;
  text-align: center;
}

mat-grid-tile form h2 {
  margin-bottom: 40px;
}

mat-card-content {
  padding: 0px !important;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 5px;
}

button {
  color: white !important;
}

button[btn-a] {
  background: #3606d5 !important;
}

button[btn-b] {
  background: #170144 !important;
}

