<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Supplier Detail</mat-card-title>
      </mat-card-header>

      <mat-card-content id="supplierform">

        <mat-form  [formGroup]="form" >

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reg. No</mat-label>
            <input matInput formControlName="regNo">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reg. Year</mat-label>
            <input matInput formControlName="regYear">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput formControlName="telephone">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>FAX</mat-label>
            <input matInput formControlName="fax">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contact Person</mat-label>
            <input matInput formControlName="contactPerson">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contact Mobile</mat-label>
            <input matInput formControlName="contactMobile">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Credit Limit</mat-label>
            <input matInput formControlName="creditLimit">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date Of Reg.</mat-label>
            <input matInput [matDatepicker]="doregister" formControlName="doregister">
            <mat-datepicker-toggle matIconSuffix [for]="doregister"></mat-datepicker-toggle>
            <mat-datepicker #doregister></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Supplier Status</mat-label>
            <mat-select formControlName="supplierStatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let status of supplierStatuses" [value]="status">{{status.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
          </div>

        </mat-form>
      </mat-card-content>


    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Supplier Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Reg. Number</mat-label>
            <input matInput formControlName="ssRegNo">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="ssName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Supplier Status</mat-label>
            <mat-select formControlName="ssSupStatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let status of supplierStatuses" [value]="status.id">{{status.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="ssEmployee">
              <mat-option [value]="null" selected >Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon> Clear Search </button>
          </div>

        </mat-form>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Suppliers Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>

      <mat-card-content>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"
                         (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
