<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks">

      <div class="round-card">
        <img src="assets/payment-method.png">
        <a routerLink="payments">Payments</a>
      </div>

    <div class="round-card">
      <img src="assets/bill.png">
      <a routerLink="invoice">Invoices</a>
    </div>

    <div class="round-card">
      <img src="assets/customer.png">
      <a routerLink="customer">Customers</a>
    </div>

    <div class="round-card">
      <img src="assets/checkout.png">
      <a routerLink="customerorder">Orders</a>
    </div>

    <div class="round-card">
      <img src="assets/supplier.png">
      <a routerLink="grn">GRN</a>
    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="4" >
<!--    <div>-->
<!--      <div-title style="background-image: url('assets/header2img.png')">User Specific Messages</div-title>-->
<!--      <div-content >-->
<!--        <mat-list>-->
<!--          <mat-list-item *ngFor="let message of userspecmessages">-->
<!--            <mat-icon matListItemIcon> email</mat-icon>-->
<!--            <div matListItemTitle >{{message.name}}</div>-->
<!--            <div matListItemLine>{{message.updated | date}}</div>-->
<!--          </mat-list-item>-->
<!--        </mat-list>-->
<!--      </div-content>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->


<!--  <mat-grid-tile [colspan]="2" [rowspan]="4" >-->
<!--      <div>-->
<!--        <div-title style="background-image: url('assets/header2img.png')">General Messages</div-title>-->
<!--        <div-content >-->
<!--          <mat-list>-->
<!--            <mat-list-item *ngFor="let message of generalmessages">-->
<!--              <mat-icon matListItemIcon> email</mat-icon>-->
<!--              <div matListItemTitle >{{message.name}}</div>-->
<!--              <div matListItemLine>{{message.updated | date}}</div>-->
<!--            </mat-list-item>-->
<!--          </mat-list>-->
<!--        </div-content>-->
<!--      </div>-->
  </mat-grid-tile>

</mat-grid-list>
