mat-grid-list {
  /*padding: 10% 20% 10% 20% !important;*/
  margin: 8px;
}

mat-grid-tile:nth-child(1) mat-card{
  padding-top: 20px;
  align-items: center;
}

.round-card {
  text-align: center;
  margin: 5vh;
}

.round-card img {
  height: 100px;
  border: solid gold;
  padding: 15px;
  border-radius: 10%;
}

.round-card a {
  color: black;
  text-decoration: none;
  text-align: center;
}
