<mat-grid-list [cols]="12" rowHeight="5rem">

    <mat-grid-tile [colspan]="4" [rowspan]="10">
        <mat-card>
            <mat-card-header>
                <mat-card-title id="left">Grn Detail</mat-card-title>
            </mat-card-header>

            <mat-card-content id="grnform">

                <mat-form  [formGroup]="form" >

                    <mat-form-field appearance="outline">
                        <mat-label>Number</mat-label>
                        <input matInput formControlName="grnnumber" readonly>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Employee</mat-label>
                        <mat-select formControlName="employee">
                            <mat-option [value]="null" selected>Not Selected</mat-option>
                            <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.fullname}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="date" [min]="today" [max]="today" readonly formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>


<!--                    <mat-form-field appearance="outline">-->
<!--                        <mat-label>Purorder</mat-label>-->
<!--                        <mat-select formControlName="purorder" (selectionChange)="filterIngredient()">-->
<!--                            <mat-option [value]="null" selected>Not Selected</mat-option>-->
<!--                            <ng-container *ngIf="!enaupd">-->
<!--                                <ng-container *ngFor="let purorder of purorders">-->
<!--                                    <mat-option *ngIf="purorder.postatus.name === 'Approved'" [value]="purorder">-->
<!--                                        {{purorder.number}}-->
<!--                                    </mat-option>-->
<!--                                </ng-container>-->
<!--                            </ng-container>-->
<!--                            <ng-container *ngIf="enaupd">-->
<!--                                <ng-container *ngFor="let purorder of purorders">-->
<!--                                    <mat-option [value]="purorder">-->
<!--                                        {{purorder.number}}-->
<!--                                    </mat-option>-->
<!--                                </ng-container>-->
<!--                            </ng-container>-->
<!--                        </mat-select>-->
<!--                    </mat-form-field>-->


                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>

                    <div id="innertable">

                        <mat-form [formGroup]="innerform">

                            <mat-form-field appearance="outline">
                                <mat-label>Item</mat-label>
                                <mat-select formControlName="item" (selectionChange)="quantityValidator()">
                                    <mat-option [value]="null" selected>Not Selected</mat-option>
                                    <mat-option *ngFor="let item of ingredients" [value]="item">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>unit Cost</mat-label>
                                <input matInput   formControlName="unitcost">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Qty</mat-label>
                                <input matInput   formControlName="qty">
                            </mat-form-field>

                            <button mat-raised-button id="btnAdd" (click)="btnaddMc()" >Add</button>
                        </mat-form>

                        <mat-table [dataSource]="indata">
                            <ng-container *ngFor="let column of incolumns;let i = index;" [matColumnDef]="column">
                                <mat-header-cell *matHeaderCellDef> {{inheaders[i]}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div *ngIf="i<inbinders.length-1" [innerHTML]="uiassist.getProperty(element, inbinders[i])"></div>
                                    <div *ngIf="i>=inbinders.length-1">
                                        <button mat-raised-button (click)="deleteRaw(element)">Remove</button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="incolumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: incolumns" (click)="fillInnerForm(row)"></mat-row>
                        </mat-table>

                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Grandtotal</mat-label>
                        <input matInput formControlName="grandtotal">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="grnstatus">
                            <mat-option [value]="null" selected>Not Selected</mat-option>
                            <mat-option *ngFor="let grnstatus of grnstatuses" [value]="grnstatus">{{grnstatus.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div id="butpanel">
                        <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
                        <button mat-raised-button (click)="clear()">Clear</button>
                        <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
                        <button mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
                    </div>

                </mat-form>
            </mat-card-content>


        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="8" [rowspan]="3">
        <mat-card id="ssearch">
            <mat-card-header>
                <mat-card-title>Grn Search</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <mat-form [formGroup]="ssearch">

                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="ssgrnstatus">
                            <mat-option [value]="null" selected>Not Selected</mat-option>
                            <mat-option *ngFor="let grnstatus of grnstatuses" [value]="grnstatus.id">{{grnstatus.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Purorder</mat-label>
                        <mat-select formControlName="sspurorder">
                            <mat-option [value]="null" selected >Not Selected</mat-option>
                            <mat-option *ngFor="let purorder of purorders" [value]="purorder.id">{{purorder.number}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div>
                        <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
                        <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon> Clear Search </button>
                    </div>

                </mat-form>

            </mat-card-content>

        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="8" [rowspan]="6">
        <mat-card>
            <mat-card-header>
                <mat-card-title id="right">Grn Table</mat-card-title>
                <div id="loading">
                    <img [src]="imageurl">
                </div>
            </mat-card-header>

            <mat-card-content>

                <mat-table [dataSource]="data">

                    <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
                        <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-form [formGroup]="csearch" class="csearch">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{csprompts[i]}}</mat-label>
                                    <input matInput [formControlName]="cscolumn" (keyup)="filterTable()">
                                </mat-form-field>
                            </mat-form>
                        </mat-header-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

                </mat-table>

                <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

            </mat-card-content>

        </mat-card>
    </mat-grid-tile>

</mat-grid-list>




